body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    color: white;
    text-align: center;
    font-family: serif;
    font-size: 70px;
    margin: 0;
    padding-top: 400px;
}

p {
    margin: 500px;
}

hr {
    border-top: 1px solid white;
}


#infinite-scrolling {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    background: url("images/grad_mod.jpg");
    background-repeat: repeat;
    background-size: auto 100%;
    /*s is the value for speed*/
    animation: infinite-background 400s linear infinite;
}


@keyframes infinite-background {
    from {
        background-position: 0 0;
    }

    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: -10000px 0;
    }
}

button {
    background-color: #ac36be;
    border: none;
    color: white;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 15px;
    cursor: pointer;
    border-radius: 12px;
    /* smooth transition when enlarging image */
    transition: transform 0.5s;
    font-weight: bold;
}

button:hover {
    /* linear gradient over the background image */
    background: linear-gradient(rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0.5)),
    url("images/grad_mod.jpg");
    background-size: auto 100%;
    /* enlarge the image on hover */
    transform: scale(1.2);
    color: black;
}