@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


html, body {
        color: #ffffff;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        color: white;
        background-color: black;
}

#main {
        background-color: black;
}

#main h2 {
        padding-top: 1em;
        margin-top: 2em;
}

.hidden-1 {
	opacity: 0;
	filter: blur(5px);
	transform: translateY(-100%);
	transition: all 3s;
}

.visible-1 {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0%);
}


h1 {
        margin: 0;
        font-size: 100px;
        text-align: center;
        font-family: 'Lora', serif;
}

h2 {
        margin: 0;
        font-size: 50px;
        text-align: center;
        font-family: 'Lora', serif;
}

h3 {
        margin: 0;
        font-size: 30px;
        text-align: center;
        font-family: 'Lora', serif;
}

.capitalize {
        text-transform: uppercase;
}

.wrapper {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        perspective: 10px;
    }

    #top-header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transform-style: preserve-3d;
        z-index: -1;
    }

#name {
        color: #ffffff;
        position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

    
.background {
        transform: translateZ(-10px) scale(2);
    }

    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

#skills {
        margin: 0 auto;
        margin-top: 20px;
        color: white;
        font-size: 30px;
        text-align: center;
        font-family: 'Lora', serif;
        width: fit-content;
        min-height: 40px;
        border-right: .15em solid orange;
        animation: 
                blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
}
    
    .wrapper {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        perspective: 10px;
    }
    
/* Projects */

    
     #Projects {
        padding: 6em 0 0 0;
        position: relative;
        z-index: 1;
        background-color: black;
    }
    
    .alternating.box {
        margin-bottom: 18em;
        padding: 3.5em;
    }
    
    .alternating.box section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5em;
        margin-left: 5em;
    }
    
    .alternating.box .right {
        flex-direction: row-reverse;
    }
    
    .alternating.box .left {
        position: relative;
        max-width: 100%;
    }
    
    .alternating.box .image-container {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    
    .alternating.box .image-container i.fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 8em;
    }
    
    .alternating.box img {
        width: 100%;
        height: auto;
    }
    
    .alternating.box .description {
        width: 48%;
        margin: 0 5%;
        align-self: center;
        text-align: center;
    }
    
    .alternating.box .image-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    
    .alternating.box a {
        max-width: 50%;
        height: auto;
        color: white;
        text-decoration: none;
    }
    

/* experience and skills */

#normal-box {
        border: 3px solid white;
        margin: 2em 25em;
}

#normal-box p {
        font-size: 20px;
        font-family: serif;
        margin: 2em 2em;
}

#normal-box header p {
        text-align: center;
        font-size: 25px;
        font-family: 'Lora', serif;
}

#normal-box h2 {
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 50px;
}

#normal-box h3 {
        padding-top: 0.5em;
        font-size: 30px;
}

/* connect */

footer {
        margin-top: 20em;
}

#connect-header {
        margin-bottom: 5em;
}

#email {
        text-align: center;
        margin-bottom: 1em;
}

.icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
}

.icons li {
        width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    padding : 7px 7px 6px 7px;
    margin: 5px 10px;
}

.icons li a {
        text-decoration: none;
        color: white;
}